<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <title>Adauga hotel</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/fontawesome.css}"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/flex-slider.css}"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/templatemo-stand-blog.css}"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/owl.css}"/>

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<body>

<div th:insert="navbar :: navbar">  </div>

<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="sidebar-item contact-form">
              <div class="sidebar-heading">
                <h2>Adauga hotel</h2>
              </div>
              <div class="content">
                <form id="blog" th:object="${hotel}" th:action="@{/hotel}" method="post" enctype="multipart/form-data">
                  <input type="hidden" th:field="*{idHotel}"/>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <fieldset>
                        <label for="denumire">Nume</label>
                        <input name="denumire" type="text" id="denumire" placeholder="Nume" th:field="*{nume}">
                      </fieldset>
                    </div>


                    <div class="col-md-6 col-sm-12">
                      <fieldset>
                        <label for="procent">Numar stele</label>
                        <input name="procent" type="number" id="procent" placeholder="Nr stele" th:field="*{nrStele}">
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <fieldset>
                        <label for="capacitate">Capacitate</label>
                        <input name="capacite" type="number" id="capacitate" placeholder="Capacitate" th:field="*{capacitate}">
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-sm-12" style="margin-bottom: 30px;">
                      <fieldset>
                        <label for="tipHotel"> Selecteaza tip hotel</label>
                        <select class="custom-select" id="tipHotel" name="discount" th:field="*{tipHotel}">
                          <option th:each="tip:${tipuriHotel}"
                                  th:value="${tip.idTipHotel}" th:text="${tip.numeTip}">
                          </option>
                        </select>
                      </fieldset>
                    </div>

                    <div class="col-md-6 col-sm-12" style="margin-bottom: 30px;">
                      <fieldset>
                        <label for="oras"> Selecteaza orasul</label>
                        <select class="custom-select" id="oras" name="discount" th:field="*{oras}">
                          <option th:each="oras:${orase}"
                                  th:value="${oras.idOras}" th:text="${oras.numeOras}">
                          </option>
                        </select>
                      </fieldset>
                    </div>

                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Adauga hotel</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.js}"></script>
<script type="text/javascript" th:src="@{/js/slick.js}"></script>
<script type="text/javascript" th:src="@{/js/isotope.js}"></script>
<script type="text/javascript" th:src="@{/js/accordions.js}"></script>


</body>

</html>